$ligth-border: 1px solid lightgrey;

%flex-column {
    display: flex;
    flex-direction: column;
}

%Card-layout {
    display: flex;
    border: $ligth-border;
    border-radius: 3px;
}

%cart-overview-button {
    align-self: center;
    border: $ligth-border;
    border-radius: 3px;
    color: #fff;
    height: 2.5rem;
    margin-top: 1em;
    width: 5rem;
}

.container {
    @extend %flex-column;
    line-height: 1.25rem;
    text-align: center;
    width: 100%;

    h1 {
        color: #fafbfd;
        font-family: 'Playfair Display', serif;
        margin: 1rem;
    }

    p {
        align-self: center;
    }
}

.content {
    align-self: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.empty {
    color: #fafbfd;
    margin: 2rem;
}

.total {
    @extend %Card-layout;
    background-color: #fff;
    flex-direction: column;
    height: 17rem;
    padding: 1rem;
    margin-left: 4rem;
    width: 12rem;

    p {
        margin-top: .5rem;

        .text {
            font: {
                size: small;
                style: italic;
            }

            color: grey;
        }
    }

    hr {
        align-self: center;
        background-color: #000;
        margin-top: 1em;
        width: 80%;
    }

}

.checkout,
.more {
    @extend %cart-overview-button;
    background-color: #000;
}

.clear {
    @extend %cart-overview-button;
    background-color: #f44336;
    margin-bottom: .5rem
}

.more {
    @extend %cart-overview-button;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.list {
    @extend %flex-column;
}

.card {
    align-items: center;
    background-color: #fff;
    border: $ligth-border;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 17% 25% 20% 30%;
    gap: 1rem;
    justify-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 30rem;

    img {
        height: 4em;
    }

    .data {
        text-align: justify;

        p {
            margin-top: .5rem;
        }

        p.name {
            font-weight: bold;
            text-transform: uppercase;
        }

    }

    .quantity {
        align-items: center;
        display: flex;
        width: auto;
    }

    .buttons {
        align-items: center;
        display: flex;

        button {
            border-radius: 3px;
            border: $ligth-border;
            color: #fff;
            display: flex;
            padding: .4rem .8rem;
            margin: .5rem;
        }

        .plus {
            background-color: #000;
            
            svg {
                width: 1rem;
            }
        }

        .minus {
            background-color: #f44336;
        }
    }
}

@media screen and (max-width: 800px) {

    .container {

        .content {
            flex-direction: column;
            width: auto;
        }

        .total {
            margin-top: 1rem;
            margin-left: auto;
        }
    }
}

@media screen and (max-width:480px) {

    .container {
        width: 100%;

        .card {
            border: 0;
            grid-template-columns: 1fr;
            justify-items: center;
            padding: 1rem 0;
            margin: 1rem;
            width: 12rem;
        }

        .buttons {
            button {
                margin: 1rem 1rem 0;
                padding: .7rem 1.2rem;
            }
        }

        .data {
            text-align: center;
        }

        .total {
            margin: 2rem auto;
        }
    }
}