.cartContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.cartTitle {
    text-align: center;
    color: #fff;
    margin: 1rem;
}

.cartItem {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    width: 34rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 3px;
}

.itemPhoto {
    width: 6rem;
    height: 6rem;
}

.itemText {
    justify-content: space-evenly;
}

.itemButtonStack {
    justify-content: space-between;

    button {
        width: 3rem;
        height: 3rem;
        align-self: flex-end;
    }
}

.checkoutCard {
    width: 24rem;
}

.checkoutTitle {
    text-align: center;
}

.checkoutConcept {
    padding: 0.5rem 2.5rem;
}

.checkoutQuantity {
    float: right
}

.checkoutButton {
    margin: 0.5rem;
    width: 12rem;
    height: 3rem;
    align-self: center;
}

.checkoutMoreStack {
    margin-top: 1.5rem;
}

.cartEmptyText {
    text-align: center;
    color: #fff;
    margin-top: 8rem;
    font-size: 1.3rem;
}

@media screen and (max-width: 800px) {

    .container {

        .content {
            flex-direction: column;
            width: auto;
        }

        .total {
            margin-top: 1rem;
            margin-left: auto;
        }
    }
}

@media screen and (max-width:480px) {

    .container {
        width: 100%;

        .card {
            border: 0;
            grid-template-columns: 1fr;
            justify-items: center;
            padding: 1rem 0;
            margin: 1rem;
            width: 12rem;
        }

        .buttons {
            button {
                margin: 1rem 1rem 0;
                padding: .7rem 1.2rem;
            }
        }

        .data {
            text-align: center;
        }

        .total {
            margin: 2rem auto;
        }
    }
}