.cartContainer {
    height: 100%;
}

.cartTitle {
    text-align: center;
    color: #fff;
    margin: 2rem;
}

.itemCard {
    flex-direction: row;
    align-items: center;
    height: 8rem;
    width: 34rem;
    margin-bottom: 1.5rem;
}

.itemPhoto {
    width: 6rem;
    height: 6rem;
    margin-left: 1rem;
}

.itemBody {
    text-align: center;
}

.itemFooter {
    height: 100%;
}

.itemButtonStack {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.checkoutCard {
    width: 24rem;
    text-align: center;
}

.checkoutSubtitle {
    margin: 1rem;
}

.checkoutButton {
    margin: 0.5rem;
}

.checkoutMoreStack {
    margin-top: 1.5rem;
    width: 24rem;
}

@media screen and (max-width: 800px) {

    .container {

        .content {
            flex-direction: column;
            width: auto;
        }

        .total {
            margin-top: 1rem;
            margin-left: auto;
        }
    }
}

@media screen and (max-width:480px) {

    .container {
        width: 100%;

        .card {
            border: 0;
            grid-template-columns: 1fr;
            justify-items: center;
            padding: 1rem 0;
            margin: 1rem;
            width: 12rem;
        }

        .buttons {
            button {
                margin: 1rem 1rem 0;
                padding: .7rem 1.2rem;
            }
        }

        .data {
            text-align: center;
        }

        .total {
            margin: 2rem auto;
        }
    }
}