.header {
    font-size: large;
    font-family: 'Abel', sans-serif;
    height: 8vh;

    a {
       margin: 3rem;
    }

 }

.title {
    margin: 0 3rem;
}

.logout {
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}
