.danger {
    background-color: #0093AF;
} 

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.center-text {
    flex-grow: 1;
    margin: 0 auto;
    min-height: 84vh;
    width: 100%;
}

.modal-backdrop {
    opacity: 0.2;
}

.card {
    margin: 1rem;
    width: 12rem;
}

.cardImg {
    width: 100%;
    height: 150px;
}

.cardImg, .data {
    cursor: pointer;
}

.info {
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 16rem;
    width: 18rem;
}

.buttonGroup {
    display: flex;
    justify-content: space-around;

    button {
        min-width: 4rem;
        height: 2.5rem;
    }
}

// .ul {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
//     gap: 1rem 1rem;
// }

/* Diseño para tabletas */
// @media screen and (max-width: 800px) {
//     .list {
//         width: 90%;
//     }
// }

/* Diseño para móviles */
// @media screen and (max-width:480px) {

//     .list {
//         width: 100%;
//     }
// }

/* Diseño para PC */
/* @media screen and (max-width: 1025px) {
    section {
        width: 70%;
    }
} */
