.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalBox {
  background-color: #fff;
  border-radius: 3px;
  height: auto;
  margin: 10% auto;
  padding: 1rem 2rem;
  width: 26rem;

  h1 {
    margin-bottom: 1rem;
  }

  button {
    background: cadetblue;
    border-radius: 7px;
    box-shadow: 3px 3px 8px #592A08;
    color: aliceblue;
    display: block;
    font-weight: bold;
    height: 2rem;
    margin: 1rem auto 0;
    width: 4rem;

    &:hover {
      transform: translatey(3px);
      animation: 0.4s ease-in-out infinite alternate;
    }
  }

  .container {
    height: auto;
  }

  .description {
    border: 1px solid lightgrey;
    border-top: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0 1rem 1rem;

    p {
      margin: .5rem 0;

      span {
        text-transform: capitalize;
      }
    }
  }
}

/* Diseño para tabletas */
@media screen and (max-width: 800px) {

  .modalBox {
    margin: 20% auto;
  }
}

/* Diseño para móviles */
@media screen and (max-width:480px) {
  .modalBox {
    padding: 1rem;
    width: 90%
  }
}