%layout {
    border: none;
    border-radius: 5px;
    height: 2.5rem;
    padding-left: .5rem;
    width: 14rem;

    &:hover {
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    }

    &:focus {
        outline: none;
    }
}

.form {
    color: #fafbfd;
    display: flex;
    flex-direction: column;
    height: 34rem;
    margin-top: 3rem;
    max-width: 25rem;

    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

    fieldset {
        display: flex;
        margin-top: 1rem;
    }

    label {
        height: 2.5rem;
        margin-right: 1rem;
        width: 6rem;
    }

    textarea {
        @extend %layout;
        height: 4rem;
        padding-top: .5rem;
    }

    input,
    select {
        @extend %layout;

        option {
            background-color: #fafbfd;
        }
    }

    button {
        background: #0093AF;
        border-radius: 3px;
        color: #ddd;
        font-weight: bold;
        height: 2.5rem;
        width: 10rem;

        &:hover {
            box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        }

        &.editImage {
            background-color: orangered;
            height: 2rem;
            margin-top: auto;
            width: 6rem;
        }

        &.cancel {
            background-color: orangered;
            margin-left: auto;
        }
    }
}

input.inputFile {
    margin-top: auto;
    background: #0093AF;
    border-radius: 3px;
    height: 2rem;
    padding: .3rem .3rem 0 .6rem;
    width: 6rem;

    &::-webkit-file-upload-button {
        visibility: hidden;
    }

    &:focus {
        box-shadow: none;
    }

    &::before {
        color: #ddd;
        content: 'Load image';
        cursor: pointer;
        font-weight: bold;
        outline: none;
    }
}

.loadContainer {
    display: flex;
    flex-direction: column;
}

.imageContainer {
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    color: #0a0a0a;
    display: flex;
    height: 5rem;
    justify-content: center;
    margin-left: auto;
    width: 6rem;

    img {
        border-radius: 3px;
        height: auto;
        max-width: 3rem;
    }

    p {
        background-color: #fff;
        color: #0a0a0a;
        text-align: center;
        width: 5rem;
    }
}

.buttonsContainer {
    display: flex;
    margin-top: 1.5rem;
}

@media screen and (max-width:480px) {

    .form {
        align-items: center;
        border: 0;
        height: auto;
        margin: 1rem 0 3rem;
        padding: 0;
        width: 100%;

        h2 {
            margin-top: 1rem;
        }

        fieldset {
            flex-direction: column;
            margin-bottom: .5rem;
            width: 90%;
    
            &.imageField {
                flex-direction: row;
            }
        }
    
        input, select, textarea {
            height: 3rem;
            width: 100%;

            &.inputFile {
                height: 2.5rem;
                padding: .5rem .3rem 0 .6rem;
                width: 6rem;
            }
        }

        button {
            height: 3rem;
            width: 100%;

            &.changeImage {
                height: 2.5rem;
            }

            &.cancel {
                margin-top: 1.5rem;
            }
        }
    }

    .buttonsContainer {
        flex-direction: column;
        width: 90%;
    }
}