.cardImg {
  height: 100%;
}

.cardDetails {
  padding: 2rem;
  height: 100%;
}

/* Diseño para tabletas */
@media screen and (max-width: 800px) {

  .modalBox {
    margin: 20% auto;
  }
}

/* Diseño para móviles */
@media screen and (max-width:480px) {
  .modalBox {
    padding: 1rem;
    width: 90%
  }
}