.cardImg {
  height: 100%;
}

.cardDetails {
  padding: 2rem;
  height: 100%;
}

.userButton {
  height: 3rem;
  width: 10rem;
  margin-top: 1rem;
  
  span {
      margin-left: 0.5rem;
  }
}

/* Diseño para tabletas */
@media screen and (max-width: 800px) {

  .modalBox {
    margin: 20% auto;
  }
}

/* Diseño para móviles */
@media screen and (max-width:480px) {
  .modalBox {
    padding: 1rem;
    width: 90%
  }
}