.user {

    height: 20%;

    button {
        background-color: #40BB60;
        border-top: 0;
        color: #3e403f;
        font-size: 1rem;
        font-weight: bolder;
        margin: 0;
        text-align: center;

        &:hover {
            background-color: #11DC51;
            color: #ffffff;
        }
    }

    svg {
        fill: #3e403f;
    }

    .addRemove,
    .add,
    .plus,
    .minus {
        align-items: center;
        display: flex;
        height: 100%;
    }

    .addRemove,
    .add {
        border: {
            bottom: 1px solid lightgrey;
            right: 1px solid lightgrey;
            left: 1px solid lightgrey;
        }

        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .addRemove {
        background-color: #40BB60;
    }

    .add {
        padding-left: 16%;
        width: 100%;

        &:hover {
            border-bottom-right-radius: 7px;
            border-bottom-left-radius: 7px;
        }
    }

    .plus {
        border: 0;
        border-bottom-right-radius: 7px;
        width: 84%;

        &:hover {
            border-bottom-right-radius: 7px;
        }
    }

    .minus {
        border: 0;
        border-right: 1px solid lightgrey;
        border-bottom-left-radius: 7px;
        justify-content: center;
        width: 16%;

        &:hover {
            border-bottom-left-radius: 7px;
        }
    }

    .add,
    .plus,
    .minus {
        &:hover svg {
            fill: #ffffff;
        }
    }

    .text {
        width: 86%;
    }
}