.admin-buttons {
    /* background-color: #4C90AD; */
    border-bottom: 1px solid lightgrey; 
    border-left: 1px solid lightgrey; 
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-right: 1px solid lightgrey; 
    display: flex;
    /* justify-content: space-around; */
}

.edit-product-button,
.remove-product-button {
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    outline: none;
    margin: 5% auto;
    padding: 13px 20px;
    text-decoration: none;
    transition: all 500ms ease;
}

.edit-product-button:hover {
    background: rgba(0, 0, 0, 0);
    background-color: #ffffff;
    color: #4CAF50;
    box-shadow: 0 0 0 3px #4CAF50;
}

.remove-product-button:hover {
    background: rgba(0,0,0,0);
    background-color: #ffffff;
    color: #f44336;
    box-shadow: 0 0 0 3px #f44336;
}

.edit-product-button {
    background-color: #4CAF50;
}

.remove-product-button {
    background-color: #f44336;
}

.edit-product-button i,
.remove-product-button i {
    font-size: 14px;
    margin: auto
}