.cart-container {
    align-items: center;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.cart-product-card {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: 12rem;    
}

.cart-product-card .product-content {
    background-color: #ffffff;
    border-radius: 7px;
    height: 12rem;
    margin: .5rem;
    width: 14rem;
}

/* .cart-product-image {
    height: auto;
    margin: auto;
    width: 70%;
} */

.cart-product-text {
    margin: auto
}