@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

.login-form {
    background-image: linear-gradient(-225deg, #d15849 40%, #00FFFF 80%);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-family: 'Vibur', cursive;
    font-family: 'Abel', sans-serif;
    height: 70vh;
    width: 60vh;
}

.login-form .content {
    display: flex;
    flex-direction: column;
}

.login-form .header {
    text-align: center;
}

.login-form .header h2 {
    font-family: 'Playfair Display', serif;
    font-size: 200%;
}

.login-form .header p {
    letter-spacing: 0.05em;
}

.login-form fieldset {
    display: flex;
    background-color: white;
    border-radius: 5px;
    margin: 2rem auto;
    width: 15rem;
}

.user, .pwd {
    background-position: 1rem center;
    background-repeat: no-repeat;
    background-size: 2rem;
}

.user {
    background-image: url('./../img/user.svg');
    padding-left: 2rem;
}

.pwd {
    background-image: url('./../img/key.svg');
    padding-left: 2rem;
    width: 12rem;
}

.eye {
    background-image: url('./../img/eye.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem;
    cursor: pointer;
}

.login-form input {
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: white;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    height: 2.5rem;
    transition: 0.2s linear;
    width: 8rem;
}

.login-form input:focus {
    outline: none;
    transform: translateX(-4px);
}

div.buttons {
    text-align: center;
}

.login-form button {
    color: #252537;
    padding: 0 20px;
    background: #0093AF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    height: 2.5rem;
    letter-spacing: 0.05em;
    margin: 3% auto;
    outline: none;
    text-align: center;
    transition: all 0.2s linear;
    width: 15rem;
}

button.sign-up {
    background: #d15849;
}

.login-form button:hover {
    transform: translatey(3px);
}

.login-form button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}

i.fa {
    margin-left: 10px;
}

@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(5px);
    }
}

@media screen and (max-width:480px) {
    .login-form {
        font-size: .8rem;
        width: 50vh;
    }
}