* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

div.App {
  display: flex;
  flex-direction: column;
}

main {
  /* align-items: center; */
  color: #3e403f;
  background-color: #a8edea;
  display: flex;
  justify-content: center;
  min-height: 82vh;
  width: 100%;
}

.menu-container {
  align-items: center;
  background-color: #4C90AD;
  display: flex;
  height: 9vh;
}

.menu-content{
  display: flex;
  margin: auto;
  width: 80%;
}

footer {
  align-items: center;
  background-color: #4C90AD;
  display: flex;
  font-weight: bold;
  height: 9vh;
  justify-content: center;
}

.menu-content a, span.link {
  color: black;
  font-weight: bold;
}

.menu-content a:hover, span.link:hover {
  color: #ffffff;
  cursor: pointer;
}

.menu-ul, .menu-title, .menu-login {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 33%; 
}

.menu-login {
  justify-content: flex-end;
  padding-right: .8rem;
}

span.link {
  margin-left: 1rem;
}

fieldset {
  border: none;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.modalBox {
  background-color: whitesmoke;
  border: 4px solid black;
  border-radius: 3px;
  margin: 2% auto;
  padding: 3rem;
  position: relative;
  width: 400px;
}

/* Global styles */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* media queries */

@media screen and (max-width:480px) {

  body{
    font-size: .8rem
  }

  .menu-content {
    width: 100%
  }

  .menu-ul, .menu-title, .menu-login {
    margin-left: .6em;
    width: auto;
  }

  .menu-ul > a {
    margin-left: .5rem
  }

  .menu-login {
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
  }
}

@media screen and (max-width:480px) {

 
}