%menu-layout {
  align-items: center;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

div.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu-container,
main,
footer {
  flex-shrink: 0;
}

main {
  color: #3e403f;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  min-height: 84vh;
  width: 100%;
}

.menu-container {
  background-color: #4C90AD;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 3fr 2fr;
  height: 10vh;

  a,
  span.link {
    color: black;
    font-weight: bold;
  }

  a:hover,
  span.link:hover {
    color: #ffffff;
    cursor: pointer;
  }
}

footer {
  font-weight: bold;
  height: 7vh;
  margin: 1rem;
  text-align: center;
}

.menu-title {
  @extend %menu-layout;
  grid-column: 3;
}

.menu-user {
  @extend %menu-layout;
  justify-content: space-around;
}

.menu-ul {
  @extend %menu-layout;
  grid-column: 2;
  justify-content: space-around;
}

.menu-user,
.menu-sign {
  align-items: center;
  display: flex;
  grid-column: 4;
}

.menu-sign {
  justify-content: center;

  span {
    margin-left: .3rem;
    margin-right: .3rem;
  }
}

.cart-link {
  @extend %menu-layout;

  span {
    font-weight: normal;
    margin-left: .2rem;
  }

}

.cart-link .cart-button {
  background-color: #ffffff;
  margin-right: .2rem;
  align-items: center;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
}

.cart-button:hover {
  box-shadow: 0 0 5px #830f00;
}

.loader {
  align-items: center;
  background: #4C90AD;
  display: flex;
  justify-content: center;
  min-height: 84vh;
  width: 100%;

  img {
    height: 3rem;
    width: 3rem;
  }
}

/* Global styles */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
}

button {
  cursor: pointer;
}

.error-container,
.about-container {
  display: flex;
  flex-direction: column;
}

.error-container {
  align-self: center;

  a {
    margin: 2rem;
  }
}

.about-container {
  padding: 2rem
}

/* media queries */

@media screen and (max-width: 800px) {
  .menu-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .menu-ul {
    grid-column: 1;
  }

  .menu-title {
    grid-column: 2;
  }

  .menu-user,
  .menu-sign {
    grid-column: 3;
  }
}

@media screen and (max-width:480px) {

  body {
    font-size: .8rem
  }

  .menu-content {
    width: 100%
  }

  .menu-ul,
  .menu-title,
  .menu-login {
    margin-left: .6em;
    width: auto;
  }

  .menu-ul>a {
    margin-left: .5rem
  }

  .menu-login {
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
  }
}