* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: sans-serif;
}

div.App {
  display: flex;
  flex-direction: column;
}

main {
  text-align: center;
  min-height: 500px;
  width: 100%;
}

.info-cart {
  display: flex;
  flex-direction: column;
  width: 110px;
  height: 150px;
  margin: 1.5rem;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

header,
footer {
  text-align: center;
  height: 100px;
  background-color: whitesmoke;
}

header > ul {
  display: flex;
}

h2 {
  margin-top: 10px;
}

fieldset {
  margin: 20px;
  border: none
}

option {
  width: 100px;
}

label {
  margin: 10px;
  display: inline-block;
  width: 80px
}

input {
  background-color: white;
  border-radius: 3px;
}

.close-button {
  top: .1rem;
  right: .1rem;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: red;
  cursor: pointer;
}

.cart-image {
  width: 100px;
  height: 70px;
  margin: auto;
}

.username {
  margin: 10px;
}

#login {
  margin-left: auto;
  margin-top: 10px;
}

.link {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.link:hover {
  color: royalblue;
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

article.product-content {
  flex-grow: 1;
}

div.success, div.error {
  height: 25px;
  display: flex;
}

div.success {
  background-color: greenyellow;
}

div.error {
  background-color: red;
}

div.error p, div.success p {
  flex-grow: 1;
}

div.error button {
  margin: 0.2rem;
  padding-left: .1rem;
  padding-right: .1rem;
}

div.success button {
  margin: 0.2rem;
  padding-left: .1rem;
  padding-right: .1rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modalBox {
  background-color: whitesmoke;
  position: relative;
  margin: 2% auto;
  padding: 3rem;
  width: 400px;
  border: 4px solid black;
  border-radius: 3px;
}