%message-layout {
    width: 80%;
    align-items: center;
    color: #fff;
    display: flex;
    padding: .6rem;
}

.error {
    @extend %message-layout;
    background-color: #f44336;
}

.success {
    @extend %message-layout;
    background-color: greenyellow;
}

.message {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.close {
    cursor: pointer;
    font-weight: bold;

    &:hover {
        color: #000;
    }
}

.loader {
    align-items: center;
    background: #252537;
    display: flex;
    justify-content: center;
    height: 84vh;
    width: 100%;

    img {
        height: 3rem;
        width: 3rem;
    }
}